{{ template "base" . }}

{{ define "content" }}
    <div class="container py-5">
        <div class="row">
            <div class="col text-center">
                <img
                    src="/static/images/generals-quarters.png"
                    alt="room image"
                    class="img-fluid img-thumbnail"
                    style="height: 400px"
                >
                <h1 class="mt-4">General's Quarter</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit temporibus nisi tempore corporis doloribus dolorum numquam necessitatibus dolorem minus nemo laborum cupiditate delectus neque odio pariatur animi aliquam mollitia omnis, eveniet exercitationem fuga? Molestias molestiae repellendus voluptas facilis dolorem nesciunt fuga omnis maiores odit quia rem aspernatur earum veritatis quas officiis cum explicabo dolorum accusamus, quam, ab sequi. Iusto!</p>

                <a href="/make-reservation-gq" class="btn btn-primary">Check Availability</a>
            </div>
        </div>
    </div>
{{ end }}