{{ template "base" . }}

{{ define "content" }}
    <div class="container py-5">
        <div class="row">
            <div class="col text-center">
                <img
                    src="/static/images/marjors-suite.png"
                    alt="room image"
                    class="img-fluid img-thumbnail"
                    style="height: 400px"
                >
                <h1 class="mt-4">Major's Suite</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit temporibus nisi tempore corporis doloribus dolorum numquam necessitatibus dolorem minus nemo laborum cupiditate delectus neque odio pariatur animi aliquam mollitia omnis, eveniet exercitationem fuga? Molestias molestiae repellendus voluptas facilis dolorem nesciunt fuga omnis maiores odit quia rem aspernatur earum veritatis quas officiis cum explicabo dolorum accusamus, quam, ab sequi. Iusto!</p>

                <a href="#!" id="check-availability-btn" class="btn btn-primary">Check Availability</a>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js" }}
    <script>
        // button for test
        document.getElementById('check-availability-btn').addEventListener('click', () => {
            // attention.custom({ msg: 'Hello World' });

            let html = `
                <form action="" method="POST" id="check-availability-form" class="py-3 needs-validation" novalidate>
                    <div class="d-flex gap-4" id="reservation-dates-modal" class="datepicker">
                        <input type="text" name="start" id="start" class="form-control" placeholder="Arrival" required disabled>
                        <input type="text" name="end" id="end" class="form-control" placeholder="Departure" required disabled>
                    </div>
                </form>
            `;

            attention.custom({ msg: html });
        });
    </script>
{{ end }}