{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h1 class="text-center">Search for Availability</h1>

                <!-- <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form action="/search-availability" method="POST" class="py-3 needs-validation" novalidate>

                            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

                            <div class="form-group py-3">
                                <label for="start_date">Starting Date</label>
                                <input type="date" class="form-control" id="start_date" name="start" aria-describedby="startDateHelp" placeholder="Enter email" required>
                                <small id="startDateHelp" class="form-text text-muted">Select your starting date</small>
                            </div>
                            <div class="form-group">
                                <label for="end_date">Ending Date</label>
                                <input type="date" class="form-control" id="end_date" name="end" aria-describedby="endDateHelp" placeholder="Enter email" required>
                                <small id="endDateHelp" class="form-text text-muted">Select your ending date</small>
                            </div>
                            
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary mt-3">Search Availability</button>
                            </div>
                        </form>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-5">
                        <form action="" method="POST" class="py-3 needs-validation" novalidate>

                            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

                            <div class="d-flex gap-4" id="reservation-dates">
                                <input type="text" name="start" class="form-control" placeholder="Arrival" required>
                                <input type="text" name="end" class="form-control" placeholder="Departure" required>
                            </div>
                            
                            <button type="submit" class="btn btn-primary mt-5 mx-auto d-block">Search Availability</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}